<div *ngIf="develMode">
  <button (click)="toggleStatePolling()">
    {{ doStatePolling? "Disable" : "Enable" }} state polling
  </button>
  <span>&nbsp;Poll attempts: {{pollCounter}}</span>
  <p *ngIf="state">Current state: {{state.state}}</p>
</div>
<div *ngIf="state">
  <p *ngIf="state.state === 'unauthenticated'">Awaiting game to start...</p>
  <app-sign-in *ngIf="state.state === 'ready' && playerUid === ''"
    [develMode]="develMode" (playerUidEmitter)="playerUidHandler($event)">
  </app-sign-in>
  <p *ngIf="state.state === 'ready' && playerUid !== ''">
    Tell other participants to hurry it up...
  </p>
  <app-game-play *ngIf="state.state.startsWith('round')" [state]="state" [playerUid]="playerUid"></app-game-play>
</div>